/* ---------------------- Website layout  ---------------------- */

body {
  margin: 0;
}

p,
ul {
  margin: 0;
}

/* ---------------------- Typography  ---------------------- */

@font-face {
  font-family: "Space Mono", monospace;
  src: url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
  font-family: "Noto Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
}

* {
  color: #464654;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4em;
  letter-spacing: 0.03rem;
  font-size: 16px;
}

h1 {
  font-family: "Space Mono" monospace;
  font-size: 2.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.highlight {
  background-color: #fff2ac;
}

/* ---------------------- Links  ---------------------- */

a:link {
  text-decoration: none !important;
}

a {
  color: #464654;
}

a:hover {
  color: #4267ff;
}

.links {
  color: #4267ff;
}

/* ---------------------- Headings  ---------------------- */

@media screen and (min-width: 1000px) {
  /* Large screens */
  .header-container {
    max-width: 100%;
    padding: 25px 100px 25px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-container-content {
    width: 30%;
    padding: 12px;
  }

  .border-bottom {
    border-bottom: 1px solid #91929e;
  }

  .meofcourse {
    font-size: 28px;
    font-family: "Space Mono", monospace;
  }

  .paragraph-space-after {
    padding-bottom: 20px;
  }

  #header-nav-li {
    list-style-type: none;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  #header-nav-li li {
    float: right;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  /* iPhone X */

  .header-container {
    position: sticky;
    padding: 12px;
  }

  .meofcourse {
    font-family: "Space Mono", monospace;
  }

  .header-container-content {
    width: 100%;
    padding: 12px 0 12px 0;
  }

  .paragraph-space-after {
    padding-bottom: 20px;
  }

  #header-nav-li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* mobile navigation */

  .mobile-nav {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
  }

  .line1,
  .line2,
  .line3 {
    width: 35px;
    height: 2px;
    background-color: #464654;
    margin: 8px 0;
    transition: 0.4s;
  }

  .change .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* ---------------------- Text + Image  ---------------------- */

.item-container-divider-top {
  border-top: 1px solid #91929e;
  margin: 12px -12px 12px -12px;
}

img {
  width: 100%;
  height: auto;
}

.body-container-content img:hover {
  opacity: 0.3;
}

.item-title {
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.item-caption {
  font-size: 12px;
}

/* ---------------------- Body Container  ---------------------- */

@media screen and (min-width: 1000px) {
  /* Large screens */
  .body-container {
    max-width: 100%;
    padding: 50px 100px 25px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .body-container-content {
    width: 30%;
    padding: 12px;
    margin-bottom: 45px;
    outline: 1px solid #91929e;
  }

  .invisible {
    display: none;
  }

  .footer {
    padding: 0px 100px 50px 100px;
  }
}

@media screen and (max-width: 1000px) {
  /* iPhone X */

  .body-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .body-container-content {
    width: 100%;
    padding: 12px;
    margin-bottom: 1px;
    outline: 1px solid #91929e;
  }

  .item-container-divider-top {
    margin: 0;
    opacity: 0;
  }

  .footer {
    padding: 12px;
  }
}
