/* ---------- Variables ---------- */
$font-family: "Golos Text", serif;
$m-media: 900px;
$grass: #09855D;
$plant: #68B699;
$meadow: #F7FFF2;

%flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: $font-family;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $grass;
  margin: 2% 10% 2% 10%;
  background-color: #F7FFF2;

  @media (max-width: $m-media) {
    margin: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  // padding-bottom: 28px;

  @media (max-width: $m-media) {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

/* ---------- Links---------- */

a {
  text-decoration: none;
  color: #09855D;
  letter-spacing: 0.32px;
}

a:hover {
  color: #4B56FB;
}

.nav-link {
  font-size: 18px;
  color: #09855D;
}

.nav-container.scrolled {
  .nav-link:hover {
    color: #4B56FB;
  }
}

/* ---------- Typography ---------- */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@font-face {
  font-family: "Golos Text", serif;
  src: url("../fonts/GolosText-Regular.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');
@font-face {
  font-family: "Golos Text", serif;
  src: url("../fonts/GolosText-Medium.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
@font-face {
  font-family: "Golos Text", serif;
  src: url("../fonts/GolosText-SemiBold.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* ---------- Components ---------- */

.nav-container.scrolled {
  background-color: #F7FFF2 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  transition: background-color 200ms linear;

  @media (max-width: $m-media) {
    top: 0;
  }
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 2% 15% 2% 15%;
  @extend %flex;

  .nav-content p {
    float: left;
    padding-left: 40px;

    @media (max-width: $m-media) {
      float: right;
      padding-left: 15px;
    }
  }

  p {
    padding-bottom: 0;
  }

  @media (max-width: $m-media) {
    top: 0;
    padding: 24px;

    p {
      font-size: 16px;
    }
  }
}

hr {
  border-top: 1px solid $plant;
  margin-bottom: 20px;
}

.footer {
  padding-top: 100px;

  p {
    padding-bottom: 0;
    font-size: 18px;
  }

  @extend %flex;
}