/* ---------- Variables ---------- */
$font-family: "Golos Text", serif;

$copy-color: #555;
$link-color: #0F1FFF;

%flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

$m-media: 900px;

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: $font-family;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $copy-color;
  margin: 2% 15% 2% 15%;

  @media (max-width: $m-media) {
    margin: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  // padding-bottom: 28px;

  @media (max-width: $m-media) {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

/* ---------- Links---------- */

a {
  text-decoration: none;
  color: #0F1FFF;
  letter-spacing: 0.32px;
}

a:hover {
  color: #E55733;
}

.nav-link {
  font-size: 18px;
  color: #000;
}

.nav-container.scrolled {
  .nav-link:hover {
    color: #E55733;
  }
}

/* ---------- Typography ---------- */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@font-face {
  font-family: "Golos Text", serif;
  src: url("../fonts/GolosText-Regular.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');
@font-face {
  font-family: "Golos Text", serif;
  src: url("../fonts/GolosText-Medium.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap');
.serif-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap');
.serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  color: #3E5033;
}

/* ---------- Components ---------- */

.nav-container.scrolled {
  background-color: #EFF0FF !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  transition: background-color 200ms linear;

  @media (max-width: $m-media) {
    top: 0;
  }
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 2% 15% 2% 15%;
  @extend %flex;

  #clown {
    letter-spacing: 0.32px;
    
    @media (min-width: $m-media) {
      font-size: 22px;
    }
  }

  .nav-content p {
    float: left;
    padding-left: 40px;

    @media (max-width: $m-media) {
      float: right;
      padding-left: 15px;
    }
  }

  p {
    padding-bottom: 0;
  }

  @media (max-width: $m-media) {
    top: 20px;
    padding: 24px;

    p {
      font-size: 16px;
    }
  }
}

.footer {
  padding-top: 100px;

  p {
    padding-bottom: 0;
  }

  @extend %flex;
}