/* ---------- Imports ---------- */
/* ---------- Variables ---------- */
.nav-container, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: "B612", san-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../projects/img/background-texture.jpg");
  color: #525252;
  margin: 40px;
}

@media (max-width: 900px) {
  body {
    margin: 16px;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 28px;
}

@media (max-width: 900px) {
  p {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

hr {
  border: 2px solid #F7BC2B;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

/* ---------- Links---------- */
a {
  text-decoration: none;
  color: #808dd0;
}

a:hover {
  color: #e86037;
}

.nav-link {
  color: #525252;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: "B612";
  src: url("../fonts/B612-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "B612";
  src: url("../fonts/B612-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

.bold {
  font-weight: 700;
  font-style: bold;
}

h1 {
  font-size: 48px;
  padding-top: 100px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}

/* ---------- Components ---------- */
.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 40px;
}

@media (min-width: 900px) {
  .nav-container #clown {
    font-size: 22px;
  }
}

.nav-container .nav-content p {
  float: left;
  padding-left: 40px;
}

.nav-container p {
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .nav-container {
    padding: 16px;
  }
  .nav-container p {
    font-size: 16px;
  }
}

.footer {
  padding-top: 100px;
}

.footer p {
  padding-bottom: 0;
}

/* ---------- Variables ---------- */
/* ---------- Header ---------- */
.about {
  position: relative;
  padding-top: 100px;
  width: 65%;
}

.about p {
  font-size: 2.5vh;
  line-height: 4.5vh;
  padding-bottom: 45px;
}

.about p:last-child {
  font-size: 18px;
}

.about .scream {
  font-size: 40px;
  line-height: 40px;
}

@media (max-width: 1024px) {
  .about {
    width: 100%;
  }
  .about p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 24px;
  }
}

@media (max-width: 900px) {
  .about {
    padding-top: 50px;
    width: 100%;
    max-height: none;
    min-height: none;
  }
  .about p,
  .about p:last-child {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
  }
  .about .scream {
    font-size: 21px;
  }
}

.hand-pointer {
  position: absolute;
  font-size: 24px;
  right: 40px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 900px) {
  .hand-pointer {
    display: none;
  }
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ---------- Categories ---------- */
hr {
  margin-top: 100px;
}

@media (max-width: 900px) {
  hr {
    margin-top: 34px;
  }
}

.category {
  font-size: 18px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 900px) {
  .category {
    padding-top: 16px;
    padding-bottom: 50px;
  }
}

.conWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .conWrap {
    display: block;
  }
}

.content-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
}

.content-container .featured {
  width: 48.5%;
}

@media (max-width: 900px) {
  .content-container .featured {
    width: 100%;
  }
  .content-container .square img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

.content {
  width: 23.8%;
  margin: 1%;
  margin-top: 0;
  position: relative;
  padding-bottom: 23.74%;
  height: 0;
  background: #525252;
}

.content #thumb-sq {
  display: none;
}

.content img {
  max-width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content video {
  max-width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content .content-copy {
  color: white;
  opacity: 0;
  line-height: 22px;
  padding-top: 8px;
  padding-bottom: 16px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.content:nth-of-type(3n) {
  margin-right: 0;
  margin-left: 0;
}

.content:nth-of-type(3n + 1) {
  margin-right: 0;
}

.content:hover .content-copy {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content:hover img,
.content:hover video {
  opacity: 0.2;
}

.content .opacity-copy {
  color: #cccccc;
}

.content br {
  padding-top: 5px;
}

@media (max-width: 900px) {
  .content {
    background: none;
    width: 100%;
    margin: 0;
    height: 100%;
    font-size: 16px;
    padding-bottom: 50px;
  }
  .content .content-copy {
    background: none;
    opacity: 1;
    color: #525252;
    position: relative;
    line-height: 22px;
    padding-top: 0px;
    left: 0;
  }
  .content:hover img,
  .content:hover video {
    opacity: 1;
  }
  .content .opacity-copy {
    color: gray;
  }
  .content #thumb-rect {
    display: none;
  }
  .content #thumb-sq {
    display: block;
  }
}
/*# sourceMappingURL=style-index.css.map */