/* ---------- Imports ---------- */
@import "global";

/* ---------- Variables ---------- */
$m-media: 900px;

body {
  background-color: #F4F0FF;
}

/* ---------- Header ---------- */

.nav-container.scrolled {
  #clown {
    font-size: 20px;
    position: relative;
    top: 0;
  }
}

.nav-container #clown {
  font-size: 38px;
  position: absolute;
  top: 34px;
  color: #000;

  @media (max-width: $m-media) {
    font-size: 26px;
    position: relative;
    top: 0;
  }
}

.about {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  width: 50%;

  p {
    font-size: 2.5vh;
    line-height: 28px;
    padding-bottom: 24px;
    font-family: "GolosText", sans-serif;
  }

  p:last-child {
    font-size: 18px;
  }

  @media (max-width: 1024px) {
    width: 100%;

    p {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 24px;
    }
  }

  @media (max-width: $m-media) {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 100%;
    max-height: none;
    min-height: none;

    p,
    p:last-child {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 24px;
    }
  }
}

/* ---------- Categories ---------- */

.category {
  padding-bottom: 20px;
}

.content-container {

  @media (max-width: $m-media) {
    padding-bottom: 0;

    .square img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.content {
  margin-bottom: 2%;
  border-radius: 8px;
  display: flex;
  background-color: #DFE1FF;

  img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
  }

  .content-copy {
    margin: auto;
    width: 100%;
    padding: 4%;

    .header,
    .subtitle {
      padding-bottom: 12px;
    }

    .header {
      font-size: 22px;
      color: #000;
      line-height: 28px;
    }

    .subtitle {
      color: #000;
      font-size: 14px;
    }

    .blurb {
      color: #555;
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 24px;
    }

    .csLink {
      font-size: 14px;
    }
  }

  @media (max-width: $m-media) {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 6%;

    #thumb-rect {
      display: block;
      border-radius: 8px 8px 0px 0px;
    }
  }
}