/* ---------- Imports ---------- */
/* ---------- Variables ---------- */
.footer, .nav-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: "GolosText", sans-serif;
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 2% 15% 2% 15%;
}
@media (max-width: 900px) {
  body {
    margin: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 900px) {
  p {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

/* ---------- Links---------- */
a {
  text-decoration: none;
  color: #6800EC;
}

a:hover {
  color: #6800EC;
}

.nav-link {
  color: #000;
  font-size: 20px;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: medium;
}
@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: semi-bold;
}
/* ---------- Components ---------- */
.nav-container.scrolled {
  background-color: #F4F0FF !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  transition: background-color 200ms linear;
}
.nav-container.scrolled .nav-link,
.nav-container.scrolled #clown {
  color: #000;
}
@media (max-width: 900px) {
  .nav-container.scrolled {
    top: 0;
  }
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 2% 15% 2% 15%;
}
@media (min-width: 900px) {
  .nav-container #clown {
    font-size: 22px;
  }
}
.nav-container .nav-content p {
  float: left;
  padding-left: 40px;
}
@media (max-width: 900px) {
  .nav-container .nav-content p {
    float: right;
    padding-left: 15px;
  }
}
.nav-container p {
  padding-bottom: 0;
}
@media (max-width: 900px) {
  .nav-container {
    top: 20px;
    padding: 24px;
  }
  .nav-container p {
    font-size: 16px;
  }
}

.footer {
  padding-top: 100px;
}
.footer p {
  padding-bottom: 0;
}

/* ---------- Variables ---------- */
body {
  background-color: #F4F0FF;
}

/* ---------- Header ---------- */
.nav-container.scrolled #clown {
  font-size: 20px;
  position: relative;
  top: 0;
}

.nav-container #clown {
  font-size: 38px;
  position: absolute;
  top: 34px;
  color: #000;
}
@media (max-width: 900px) {
  .nav-container #clown {
    font-size: 26px;
    position: relative;
    top: 0;
  }
}

.about {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  width: 50%;
}
.about p {
  font-size: 2.5vh;
  line-height: 28px;
  padding-bottom: 24px;
  font-family: "GolosText", sans-serif;
}
.about p:last-child {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .about {
    width: 100%;
  }
  .about p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 24px;
  }
}
@media (max-width: 900px) {
  .about {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 100%;
    max-height: none;
    min-height: none;
  }
  .about p,
  .about p:last-child {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
  }
}

/* ---------- Categories ---------- */
.category {
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .content-container {
    padding-bottom: 0;
  }
  .content-container .square img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

.content {
  margin-bottom: 2%;
  border-radius: 8px;
  display: flex;
  background-color: #DFE1FF;
}
.content img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}
.content .content-copy {
  margin: auto;
  width: 100%;
  padding: 4%;
}
.content .content-copy .header,
.content .content-copy .subtitle {
  padding-bottom: 12px;
}
.content .content-copy .header {
  font-size: 22px;
  color: #000;
  line-height: 28px;
}
.content .content-copy .subtitle {
  color: #000;
  font-size: 14px;
}
.content .content-copy .blurb {
  color: #555;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 24px;
}
.content .content-copy .csLink {
  font-size: 14px;
}
@media (max-width: 900px) {
  .content {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 6%;
  }
  .content #thumb-rect {
    display: block;
    border-radius: 8px 8px 0px 0px;
  }
}/*# sourceMappingURL=style-index.css.map */