/* ---------- Imports ---------- */
/* ---------- Variables ---------- */
.nav-container, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: "GolosText", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 40px;
}

@media (max-width: 900px) {
  body {
    margin: 16px;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 28px;
}

@media (max-width: 900px) {
  p {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

hr {
  display: none;
}

@media (max-width: 900px) {
  hr {
    display: block;
    border-bottom: 1px solid #525252;
  }
}

/* ---------- Links---------- */
a {
  text-decoration: none;
  color: #6800EC;
}

a:hover {
  color: #6800EC;
}

.nav-link {
  color: #000;
  font-size: 20px;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: medium;
}

@font-face {
  font-family: "GolosText", sans-serif;
  src: url("../fonts/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: semi-bold;
}

h1 {
  font-size: 48px;
  padding-top: 100px;
  font-weight: 400;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}

/* ---------- Components ---------- */
.nav-container.scrolled {
  background-color: #F4F0FF !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.nav-container.scrolled .nav-link,
.nav-container.scrolled #clown {
  color: #000;
}

@media (max-width: 900px) {
  .nav-container.scrolled {
    top: 0;
  }
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 40px;
}

@media (min-width: 900px) {
  .nav-container #clown {
    font-size: 22px;
  }
}

.nav-container .nav-content p {
  float: left;
  padding-left: 40px;
}

@media (max-width: 900px) {
  .nav-container .nav-content p {
    float: right;
    padding-left: 15px;
  }
}

.nav-container p {
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .nav-container {
    top: 20px;
    padding: 16px;
  }
  .nav-container p {
    font-size: 16px;
  }
}

.footer {
  padding-top: 100px;
}

.footer p {
  padding-bottom: 0;
}

/* ---------- Variables ---------- */
body {
  background-color: #F7FFF2;
}

.nav-container.scrolled {
  background-color: #F7FFF2 !important;
}

/* ---------- about ---------- */
.about {
  margin: 10vw 20vw 0 20vw;
}

@media (max-width: 900px) {
  .about {
    margin: 20vw 0 0 0;
  }
}

.header {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  padding-bottom: 20px;
  padding-top: 40px;
}

/* ---------- flexbox ---------- */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-container a {
  color: #555;
}

.flex-container a:hover {
  color: #6800EC;
}

.flex-left {
  width: 15%;
}

.flex-left p {
  color: #000;
  font-weight: 500;
}

.flex-left img {
  width: 80%;
}

.flex-right {
  width: 85%;
}

.flex-right #clown {
  font-size: 40px;
  color: #000;
  padding-left: 20px;
}

.flex-right .blurb {
  padding-top: 10px;
  padding-left: 20px;
}
/*# sourceMappingURL=style-about.css.map */