/* ---------- Imports ---------- */
@import "global";

body {
  margin-right: 15%;
  margin-left: 15%;

  @media (max-width: $m-media) {
    margin-right: 0;
    margin-left: 0;
    padding: 2% 4%;
  }
}

/* ---------- Nav ---------- */

#clown {
  color: $grass;
}

/* ---------- Header ---------- */

.about {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 60%;

  p {
    font-size: 1.3em !important;
    line-height: 1.4em;
    font-weight: 400;
    color: $grass;
    letter-spacing: 0.32px;
  }

  p:last-child {
    font-size: 18px;
  }

  @media (max-width: 1024px) {
    width: 100%;

    p {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 24px;
    }
  }

  @media (max-width: $m-media) {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 100%;
    max-height: none;
    min-height: none;

    p,
    p:last-child {
      font-size: 16px;
      // line-height: 24px;
      padding-bottom: 24px;
    }
  }
}

/* ---------- Categories ---------- */

.category {
  padding-bottom: 20px;
}

.content-container {

  @media (max-width: $m-media) {
    padding-bottom: 0;

    .square img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.content {
  margin-bottom: 4%;
  border-radius: 8px;
  display: flex;

  a:hover {
  color: $grass;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
  }

  .content-copy {
    width: 100%;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header,
    .subtitle {
      padding-bottom: 12px;
      letter-spacing: 0.32px;
    }

    .header {
      font-size: 22px;
      line-height: 28px;
    }

    .subtitle {
      color: $plant;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 5%;
      font-weight: 600;
    }

    .blurb {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 24px;
    }

    .csLink {
      font-size: 14px;
      display: flex;
      padding: 8px 16px;
      border: 1px solid $grass;
      border-radius: 100px; 
      background-color: $meadow;
      align-self: flex-start;
    }

    .csLink:hover {
        transition-duration: 0.2s;
        background-color: #DFE1FF;
        border: 1px solid #4B56FB;

        a {
          color: #4B56FB !important;
        }
      }

    @media (max-width: $m-media) {
      padding: 6% 0 0 0;
    }
  }

  @media (max-width: $m-media) {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 6%;

    #thumb-rect {
      display: block;
      border-radius: 8px 8px 0px 0px;
    }
  }
}