/* ---------- Imports ---------- */
@import "global";

/* ---------- Variables ---------- */
$m-media: 900px;

body {
    background-color: #F7FFF2;
}

.nav-container.scrolled {
    background-color: #F7FFF2 !important;
}

/* ---------- about ---------- */

.about {
    margin: 10vw 15vw 0 15vw;

    @media (max-width: $m-media) {
        margin: 30vw 0 0 0;
    }
}

.header {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    padding-bottom: 20px;
    padding-top: 40px;
}


/* ---------- flexbox ---------- */

.flex-container {
    display: flex;
    flex-direction: row;

    a {
        color: $copy-color;
    }

    a:hover {
        color: $link-color;
    }
}

.flex-left {
    width: 15%;

    p {
        color: #000;
        font-weight: 500;
    }

    img {
        width: 80%;
    }

    @media (max-width: $m-media) {
        width: 30%;

        img {
            width: 100%;
        }
    }
}

.flex-right {
    width: 80%;

    #clown {
        font-size: 40px;
        color: #000;
    }

    .blurb {
        padding-top: 10px;
    }

    #clown,
    .blurb {
        padding-left: 20px;
    }

    @media (max-width: $m-media) {
        width: 90%;

        #clown,
        .blurb {
            padding-top: 8px;
        }

        #clown {
            font-size: 30px;
        }

        .blurb {
            padding-top: 5px;
            font-size: 16px;
        }
    }
}