/* ---------- Imports ---------- */
@import "global";

/* ---------- Variables ---------- */
$m-media: 900px;

body {
    background-color: #F7FFF2;
    letter-spacing: 0.32px;
    color: #66795A;
}

/* ---------- Nav ---------- */

.nav-link, .flex-right a {
    color: #09855D;
  }

.nav-container.scrolled {
    background-color: #F7FFF2 !important;

    .nav-link { 
         color: #09855D;
    }
}

/* ---------- about ---------- */

.about {
    margin: 8vw 15vw 0 15vw;

    @media (max-width: $m-media) {
        margin: 30vw 0 0 0;
    }
}

.header {
    font-size: 24px;
    color: #66795A;
    padding-top: 60px;
}

.about-content {
    padding-top: 20px;

    p {
        line-height: 28px;
    }
}

/* ---------- flexbox ---------- */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 9vw;

    p {
        color: #66795A;
        font-weight: 500;
        padding-bottom: 0px;
    }

    img {
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: $m-media) {
        width: 30%;

        img {
            width: 100%;
        }
    }
}

.flex-right {
    width: 100%;
    margin: auto;

    p {
        padding-bottom: 0px;
    }
    
    #clown {
        font-size: 40px;
        color: #66795A;
    }

    .blurb {
        font-size: 14px;
        padding-top: 6px;
        margin-left: 2px;
    }

    #clown,
    .blurb {
        padding-left: 20px;
    }

    @media (max-width: $m-media) {
        width: 90%;

        #clown,
        .blurb {
            padding-top: 8px;
        }

        .blurb {
            padding-top: 5px;
        }
    }
}