/* ---------- Imports ---------- */
@import "global";

/* ---------- Variables ---------- */
$m-media: 900px;
$blue-copy: #5359B1;

body {
  background-color: #EFF0FF;
}

/* ---------- Header ---------- */

// .nav-content p {
//   padding-top: 10px;
// }

.nav-link {
  color: #0F1FFF;
}

.nav-container.scrolled {
  .nav-content p {
    padding-top: 0;
  }

  #clown {
    font-size: 22px;
    position: relative;
    top: 0;
    color: $blue-copy;
  }

  .nav-link { 
    color: #0F1FFF;
  }
}

.nav-container #clown {
  font-size: 38px;
  position: absolute;
  top: 34px;
  color: $blue-copy;
  font-family: $font-family;
  // font-weight: 500;

  @media (max-width: $m-media) {
    font-size: 20px;
    position: relative;
    top: 0;
  }
}

.about {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  width: 50%;

  p {
    font-size: 2.5vh;
    line-height: 28px;
    font-weight: 400;
    color: $blue-copy;
    letter-spacing: 0.32px;
  }

  p:last-child {
    font-size: 18px;
  }

  @media (max-width: 1024px) {
    width: 100%;

    p {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 24px;
    }
  }

  @media (max-width: $m-media) {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 100%;
    max-height: none;
    min-height: none;

    p,
    p:last-child {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 24px;
    }
  }
}

/* ---------- Categories ---------- */

.category {
  padding-bottom: 20px;
}

.content-container {

  @media (max-width: $m-media) {
    padding-bottom: 0;

    .square img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.content:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.content {
  margin-bottom: 2%;
  border: 1px solid #CACDFF;
  border-radius: 8px;
  display: flex;
  background-color: #DFE1FF;
  transition: transform .2s; /* Animation */

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
  }

  .content-copy {
    width: 100%;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header,
    .subtitle {
      padding-bottom: 12px;
      letter-spacing: 0.32px;
    }

    .header,
    .subtitle,
    .blurb{
      color: $blue-copy;
    }

    .header {
      font-size: 22px;
      line-height: 28px;
    }

    .subtitle {
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 5%;
    }

    .blurb {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 24px;
    }

    button {
      display: flex;
      align-items: flex-start;
      background-color: #DFE1FF;
      border: none;
    }

    .csLink {
      font-size: 14px;
      display: inline-block;
      padding: 8px 16px;
      background-color: #C9CCFF;
      border: 1px solid #5359b143;
      border-radius: 100px;
    }

    @media (max-width: $m-media) {
      padding-top: 6%;
    }
  }

  @media (max-width: $m-media) {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 6%;

    #thumb-rect {
      display: block;
      border-radius: 8px 8px 0px 0px;
    }
  }
}

.footer p {
  color: $blue-copy;
}