/* ---------- Global Metrics ---------- */

* {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: 'B612';
  src: url('../fonts/B612-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'B612';
  src: url('../fonts/B612-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

p,
a,
.item-title {
  font-family: 'B612';
  color: #313131;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

.bold {
  font-weight: bold;
}

/* ---------- Links ---------- */

a:link {
  text-decoration: none;
}

#link {
  color: #FE4900;
}

.link:hover {
  color: #FE4900;
}

/* ---------- Headings ---------- */

.header-container,
.body-container,
.footer {
  margin: 2% 100px 2% 100px;
  display: flow-root;
}

.header-container {
  margin-bottom: 4%;
}

.graceyoung {
  font-size: 1.3em;
  display: inline-block;
}

.nav-container a,
.allworks a {
  float: left;
}

.nav a {
  font-size: 16px;
  margin-left: 2%;
  float: right;
  padding-bottom: 2px;
}

.toggle-menu {
  display: none;
}

.blurb {
  font-size: 30px;
  width: 100%;
  height: 95%;
}

.allworks {
  margin-top: 2px;
}

.allworks a {
  margin-right: 4%;
  padding-bottom: 2px;
}

/* ---------- Text + Image ---------- */

img {
  width: 100%;
  height: auto;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.body-content img:hover {
  transform: translate(0px, -10px);

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  -webkit-box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 0.2);
}

.body-content img:nth-last-child(1) {
  display: none;
}

.item-caption {
  font-size: 12px;
  line-height: 2em;
  color: hsla(0, 0%, 19%, 0.5);
}

.body-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  padding-top: 10%;
}

.body-content {
  width: 30%;
  margin-bottom: 5%;
  z-index: 1;
}

.category,
.category-w {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 200px;
  font-weight: bold;
  color: hsla(0, 0%, 19%, 0.08);
}

.category-w {
  color: hsla(0, 0%, 100%, 0.25);
}

.container-bg {
  height: auto;
  width: 100vw;
  background-color: #252E3B;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 2%;
  padding-bottom: 1%;
}

.container-bg .item-caption {
  color: rgba(255, 255, 255, 0.5);
}

.container-bg .item-title,
.footer p {
  color: #fff;
}

/* ---------- Footer ---------- */

.footer p {
  font-size: 0.8em;
  padding-bottom: 0;
}

@media screen 
    and (max-width: 1024px)
    and (orientation: landscape) {

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .footer {
    margin-right: 60px;
    margin-left: 60px;
  }

  .graceyoung {
    font-size: 0.8em;
  }
  
  /* ---------- Body content ---------- */

  .blurb {
    font-size: 27px;
  }
  
  .item-title,
  .nav a,
  .allworks a,
  .footer p {
    font-size: 0.7em;
  }

  .item-caption {
    font-size: 8px;
  }

  .category,
  .category-w {
    font-size: 130px;
  }
}

@media screen 
    and (max-width: 1024px)
    and (orientation: portrait) {

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .footer {
    margin-right: 60px;
    margin-left: 60px;
  }

  .graceyoung {
    font-size: 1em;
  }

  /* ---------- Body content ---------- */

  .blurb {
    font-size: 18px;
  }

  .item-title,
  .nav a,
  .allworks a {
    font-size: 0.8em;
  }

  .item-caption {
    font-size: 8px;
  }

  .category,
  .category-w {
    font-size: 110px;
  }
}

/* ---------- Small screens ---------- */
@media screen and (max-width: 600px) {

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .footer {
    margin: 4%;
  }

  .header-container,
  .blurb {
    padding-bottom: 4%;
  }

  .graceyoung {
    font-size: 1.2em;
  }

  .nav a {
    display: none;
  }

  /* ---------- Body content ---------- */

  .allworks a,
  .item-title,
  .blurb {
    font-size: 16px;
  }

  .item-caption {
    font-size: 12px;
  }

  .body-container {
    padding-top: 14%;
  }

  .body-content {
    width: 100%;
    margin-bottom: 10%;
  }

  .first {
    display: none;
  }

  .category,
  .category-w {
    font-size: 75px;
    overflow: hidden;
    margin: -4%;
  }

  /* ---------- footer ---------- */
  .footer p {
    font-size: 14px;
  }

  /* ---------- mobile navigation ---------- */
  .toggle-menu {
    padding-top: 4%;
    padding-left: 4%;
    display: none;
    /* background: #ECEBF0; */
    background: linear-gradient(#BBC5EB, #A09487);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .toggle-menu li {
    list-style-type: none;
    display: flex;
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  .nav-mobile {
    padding-top: 24%;
  }

  /* The 3 Hamburger Menu */
  .mobile-nav {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 4%;
    z-index: 3;
  }

  .line1,
  .line2,
  .line3 {
    width: 24px;
    height: 1.5px;
    background-color: #313131;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .line1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-2.8px, 2.8px);
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}