/* ---------- Imports ---------- */
/* ---------- Variables ---------- */
.nav-container, .footer, .project-content, .two-rects, .two-sq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  font-family: "B612", san-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #525252;
  margin: 40px;
}

@media (max-width: 900px) {
  body {
    margin: 16px;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 28px;
}

@media (max-width: 900px) {
  p {
    line-height: 24px;
    padding-bottom: 24px;
  }
}

hr {
  display: none;
}

@media (max-width: 900px) {
  hr {
    display: block;
    border-bottom: 1px solid #525252;
  }
}

/* ---------- Links---------- */
a {
  text-decoration: none;
  color: #808dd0;
}

a:hover {
  color: #e86037;
}

.nav-link {
  color: #525252;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: "B612";
  src: url("../fonts/B612-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "B612";
  src: url("../fonts/B612-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Blanco";
  src: url("../fonts/Blanco-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48px;
  padding-top: 100px;
  font-weight: 400;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}

/* ---------- Components ---------- */
.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 40px;
}

@media (min-width: 900px) {
  .nav-container #clown {
    font-size: 22px;
  }
}

.nav-container .nav-content p {
  float: left;
  padding-left: 40px;
}

.nav-container p {
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .nav-container {
    padding: 16px;
  }
  .nav-container p {
    font-size: 16px;
  }
}

.footer {
  padding-top: 100px;
}

.footer p {
  padding-bottom: 0;
}

/* ---------- Variables ---------- */
.nav-container, .footer, .project-content, .two-rects, .two-sq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
}

.two-rects img, .two-sq img {
  width: 49.5%;
  height: 100%;
}

@media (max-width: 900px) {
  .two-rects, .two-sq {
    display: block;
    padding-bottom: 0;
  }
  .two-rects img, .two-sq img {
    width: 100%;
    padding-bottom: 12px;
  }
}

/* ---------- Project ---------- */
@media (max-width: 900px) {
  p {
    font-size: 16px;
  }
}

.project-content {
  padding-top: 30px;
  padding-bottom: 100px;
}

.project-content .content p {
  font-family: "Blanco", serif;
}

.project-content .content:nth-child(1) {
  width: 50%;
}

@media (max-width: 900px) {
  .project-content {
    display: block;
    padding-bottom: 50px;
  }
  .project-content .content:nth-child(1) {
    width: 100%;
  }
}

.rect {
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
}

video {
  width: 49.5%;
  height: 100%;
}

@media (max-width: 900px) {
  video {
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
  }
}

/* ---------- Next Project ---------- */
.next-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.next-project #right-hand {
  padding-left: 12px;
}

@media (max-width: 900px) {
  .next-project {
    display: block;
  }
  .next-project p {
    padding-bottom: 8px;
  }
  .next-project #right-hand {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style-project.css.map */