/* ---------- Global Metrics ---------- */

* {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

/* ---------- Typography ---------- */
@font-face {
  font-family: 'B612';
  src: url('../fonts/B612-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'B612';
  src: url('../fonts/B612-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

h1,
h2,
p,
a,
.item-title,
.content li  {
  font-family: 'B612';
  color: #313131;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
  line-height: 1.2em;
  padding-bottom: 0.8em;
  font-weight: 700;
}

p,
.content li  {
  font-size: 16px;
  line-height: 1.5em;
}

.highlight {
  /* background-color: hsla(228, 100%, 63%, 0.25); blue */
}

/* ---------- Links ---------- */
a:link {
  text-decoration: none;
}

#link {
  color: #FE4900
}

.link:hover {
  color: #FE4900;
}

/* ---------- Headings ---------- */

.header-container,
.body-container,
.footer {
  margin: 2% 100px 2% 100px;
  display: flow-root;
}

.header-container {
  margin-bottom: 4%;
}

.graceyoung {
  font-size: 1.3em;
  display: inline-block;
}

.nav-container a,
.allworks a {
  float: left;
}

.nav a {
  font-size: 16px;
  margin-left: 2%;
  float: right;
  padding-bottom: 2px;
}

.toggle-menu {
  display: none;
}

/* ---------- Image ---------- */

img {
  width: 100%;
  height: auto;
  padding-bottom: 1%;
}

.content .logo,
.content-center .logo {
  width: 50%;
  height: auto;
  padding-bottom: 5%;
  padding-left: 0;
}

.center-img {
  height: 80vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-hero {
  padding-bottom: 0;
  margin-bottom: -5px;
}

.half-layout img,
.layout-img img {
  width: 49.5%;
  height: 100%;
  height: intrinsic;
  height: -webkit-intrinsic;
}

.layout-img img {
  padding-left: 5%;
}

/* ---------- Body Container ---------- */

.content,
.content-center {
  width: 40vw;
  padding-bottom: 2%;
  padding-top: 5%;
}

.content-center {
  margin: 0 auto;
}

.content-last {
  width: 40vw;
  margin: 0 auto;
  z-index: 2;
}

.content p {
  padding-bottom: 4%;
}

.content ul {
  margin-bottom: 4%;
}

.content li {
  padding-bottom: 3%;
  margin-left: 10%;
}

.info {
  border-left: 1px solid #000000;
  padding-left: 2%;
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.info p {
  padding-bottom: 2%;
}

.info-title {
  font-weight: 700;
}

.section,
.section-last {
  padding-top: 8%;
}

.half-layout,
.layout-img {
  display: flex;
  justify-content: space-between;
}

.container-bg {
  height: auto;
  width: 100vw;
  padding-top: 1%;
  padding-bottom: 1%;
}

.orange {
  background-color: #FE9516;
}

.white-text h2, 
.white-text p {
  color: #fff;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.img-container img {
  width: 100%;
  height: auto;
}

/* ---------- Bottom Navigation ---------- */

.content-last p {
  padding-bottom: 0;
}

.section-last {
  padding-bottom: 8%;
  display: flex;
  justify-content: center;
}

.section-last .allworks a {
  float: left;
}

.section-last .allworks {
  display: flex;
  justify-content: center;
  margin-left: 3%;
}

#down-hand {
  display: none;
}

/* ---------- Footer ---------- */

.footer p {
  font-size: 0.8em;
  padding-bottom: 0;
}

/* ---------- Scroll to Top ---------- */

#back2Top {
  width: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 2px;
  text-align: center;
  font-size : 30px;
  text-decoration: none;
  border: 1px #91929e solid;
}

#back2Top:hover::after {
  /* background-color: #DDF; */
  content: "☝️";
  position: absolute;
  right: 7px;
}

@media screen 
    and (max-width: 1024px)
    and (orientation: landscape) {
  
  /* ---------- Typography ---------- */
  h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }

  p,
  .content li,
  .allworks a  {
    font-size: 14px;
  }

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .footer {
    margin-right: 60px;
    margin-left: 60px;
  }

  .graceyoung {
    font-size: 0.8em;
  }

  .nav a,
  .footer p {
    font-size: 0.7em;
  }

  /* ---------- Body Navigation ---------- */
  .body-content {
    width: 80vw;
  }

  .content,
  .content-last {
    width: 60vw;
  }

  /* ---------- Bottom Navigation ---------- */

  .allworks {
    margin-left: 7%;
  }
}

@media screen 
    and (max-width: 1024px)
    and (orientation: portrait) {

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .footer {
    margin-right: 60px;
    margin-left: 60px;
  }

  .graceyoung {
    font-size: 1em;
  }

  /* ---------- Image ---------- */
  .center-img {
    height: auto;
    width: 100%;
  }

  /* ---------- Body Container ---------- */

  .body-content {
    width: 75vw;
  }
  
  .content {
    width: 60vw;
  }

  /* ---------- Bottom Navigation ---------- */

  .content-last {
    width: 100%;
  }
  
  .allworks {
    margin-left: 6%;
  }
}

/* ---------- Small screens ---------- */

@media screen and (max-width: 600px) {
  
  /* ---------- Typography ---------- */
  h1 {
    font-size: 2.5em;
    line-height: 1em;
    padding-bottom: 0.5em;
  }
  
  h2 {
    font-size: 1.7em;
    line-height: 1.3em;
    padding-bottom: 0.8em;
  }

  p,
  .content li,
  .allworks a  {
    font-size: 16px;
  }

  /* ---------- Header ---------- */
  .header-container,
  .body-container,
  .section-last,
  .footer {
    margin: 4%;
  }

  .header-container {
    padding-bottom: 4%;
  }

  .graceyoung {
    font-size: 1.2em;
  }

  .nav a {
    display: none;
  }

  /* ---------- Image ---------- */
  .half-layout img {
    width: 100%;
    padding-left: 0;
  }

  /* ---------- Body Container ---------- */
  .body-container {
    margin-bottom: 12%;
    margin-top: 12%;
  }

  .hero-section {
    height: 100%;
  }

  .body-content {
    width: 100%;
  }

  .content-center {
    width: 100%;
  }
  
  .content {
    width: 100%;
  }

  .content p {
    padding-bottom: 6%;
  }

  .content li {
    margin-left: 10%;
  }

  .info {
    width: 70%;
  }

  .info p {
    margin-bottom: 4%;
  }

  .half-layout {
    display: block;
    /* justify-content: space-between; */
  }
  
  /* ---------- Bottom Navigation ---------- */
  .content-last {
    width: 100%;
    margin-bottom: 15%;
  }

  .section-last {
    display: block;
  }

  .section-last p {
    padding-bottom: 2%;
  }

  #right-hand {
    display: none;
  }

  #down-hand {
    display: inline-block;
  }

  .section-last .allworks {
    display: block;
    margin-left: 0;
  }

  .section-last .allworks a {
    margin-right: 6%;
  }

  /* ---------- mobile navigation ---------- */
  .toggle-menu {
    padding-top: 4%;
    padding-left: 4%;
    display: none;
    background: #ECEBF0;
    background: linear-gradient(#BBC5EB, #A09487);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .toggle-menu li {
    list-style-type: none;
    display: flex;
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  .nav-mobile {
    padding-top: 24%;
  }

  /* The 3 Hamburger Menu */
  .mobile-nav {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 4%;
    z-index: 2;
  }

  .line1,
  .line2,
  .line3 {
    width: 24px;
    height: 1.5px;
    background-color: #313131;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .line1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-2.8px, 2.8px);
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

