/* ---------- Imports ---------- */
@import "global";

/* ---------- Variables ---------- */
$m-media: 900px;

body {
    background-color: #F7FFF2;
    letter-spacing: 0.32px;
}

/* ---------- about ---------- */

.about {
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    gap: 40px;

    @media (max-width: $m-media) {
        margin-top: 100px;
        display: block;
    }
}

/* ---------- Top ---------- */

.aboutone-content {
    display: flex;
    // flex-direction: row;
 
    @media (max-width: $m-media) {
       display: block;
    }
}

.flex-left {
    width: 9vw;
    padding-right: 16px;

    p {
        font-weight: 500;
        padding-bottom: 0px;
    }

    img {
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: $m-media) {
        width: 30%;
        
        img {
            width: 60%;
            margin-left: 0;
        }
    }
}

.flex-right {

    p {
        padding-bottom: 0px;
    }
    
    .clown p {
        font-size: 22px;
        line-height: 32px;
    }

    .clown {
        padding-left: 20px;
    }

    @media (max-width: $m-media) {
        width: 100%;

        .clown {
            padding: 12px 0 40px 0;
        }
    }
}

.abouttwo-content {
    width: 150%;

     @media (max-width: $m-media) {
        width: 100%;

        p {
            padding-bottom: 0;
        }
     }
}

/* ---------- Bottom ---------- */

.about-bottom {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: space-between;

    .experience, .education {
        width: 35%;
    }


    .header {
    font-size: 20px;
    padding-bottom: 20px;
    }

    .header, .semibold {
        font-weight: 600;
    }

    .plant {
        color: $plant;
    }

    @media (max-width: $m-media) {
        margin-top: 0;
        display: block;

        .experience, .education {
            width: 100%;
        }

        .header {
            padding-top: 40px;
        }

        p {
            padding-bottom: 6px;
        }
        
    }
}