* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

.hero {
    width: 100vw;
    // height: 100vh;

    .nav {
        padding: 2%;
        display: flex;
        justify-content: space-between;

        img {
            height: 3vw;
        }
    }

    #gy {
        padding: 5%;
        width: 90vw;
    }
}

.info {
    padding-bottom: 5%;

    img {
        padding: 5%;
        width: 90vw;
    }
}

.contact {
    display: flex;
    justify-content: center;

    img {
        height: 6vw;
    }
}

.footer {
    img {
        display: block;
        margin: 0 auto;
        padding: 10% 5% 5% 5%;
        width: 70vw;
    }
}